*{
    margin: 0;
    padding: 0;
    font-family: "neue-haas-grotesk-display",sans-serif;
}
.a-navbar{

    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E3E3E3;
    box-shadow: 0px 1px 0px 0.5px rgba(0, 0, 0, 0.25);
}
.a-navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.25);
    font-weight: bold;
}
.a-navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.a-navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background:#20960081;
    position: absolute;
    left: 0%;
    bottom: -10px;
    transition: 0.20s;

}
.a-navbar ul li :hover::after{
    width: 100%;
}

.gh-logo{
    position: absolute;
    width: 30px;
    height: 51px;
    left: 20px;
    top: 5px;
    /* filter:drop-shadow(2px 2px 2px gray); */
}

.a-heading{
    color: #2a2a2a;
    text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.25);
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: -0.005em;
    width: 509px;
    height: 48px;
    padding-left: 56px;
    
   
}

.a-button{
    background-color: #93D500;
    border-color: #5e8a00;
    border-radius: 27.6924px;
    border: transparent;   
    width: 130.23px;
    height: 29.19px;
    font-weight: bold;
    box-shadow: #2a2a2a;
    box-shadow: 0px 1px 0px 0.5px rgba(0, 0, 0, 0.25);
    

}   
.a-button:hover{
    background-color: #8fc025e7;
    cursor: pointer;
}

/*welcome image and text*/
.a-gavel{
    width: 100%;
    height: 100%;
    filter: brightness(25%);
}

.a-text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.005em;

color: #FFFFFF;

  }

.a-Home-icon {
    position: absolute;
    top: 60%;
    left: 41.1%;
    transform: translate(-50%, -50%);
    width:32px; height:32px;

}

.a-page {
    /*font-family: Montserrat;*/
    font-style: Regular;
    position: absolute;
    font-size: 24px;
    color: #d0d0d0;
    top: 60.5%;
    left: 52.6%;
    transform: translate(-50%, -50%);
    /*width:36px; height:36px;*/
}

/**/



.a-container{
    display: flex;
    align-items: top;
    
}
.a-container img {
    margin-right: 100px;

}
.a-pythonimage{

    transform: translate(5%, 10%);
    display:inline-block;
    vertical-align:top;
    
}

.a-heading1{
    transform: translate(18%, 10%);
    font-family: "PT Sans",;
    font-weight: bold;
    font-size: 35px;
    color: #008CB8;
    
}
.a-details{
    font-family: 'Poppins', sans-serif;
    scale: 125%;
    line-height: 25px;
    
    transform: translate(7%, 15%);
    text-align: justify;
    overflow: hidden;
    display:inline-block;

}

/*timer and overview*/

.a-roundedrec{
    background: #04152E;
border-radius: 14px;
    padding: 50px; 
    width: 510px;
    height: 0px;  
    transform: translate(5%, 60%);
}

.a-curr {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 50;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.a-amount{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    src: url('./au_fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./au_fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
    font-size: 36px;
    line-height: 88px;
    letter-spacing: 1px;
    position: absolute;
    top: 72%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.a-end{
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 50;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 1px;
}

/* course overview */

.a-overview{
    background: #ffffff;
/* border-radius: 14px; */
    padding: 150px; 
    width: 250px;
    height: 30px;  
    transform: translate(126%, -50%);
    filter: drop-shadow(10px 2px 9px #c8c6c6);
}

.head{
    color: #000000;
    position: top;
    top: 20%;
    left: 70%;
    transform: translate(30px, -150px);
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 0px;
}

.a-ovdetails{
    position: top;
    top: 30%;
    left: 70%;
    transform: translate(10%, -120%);
}


.right{
    transform: translate(-120px, 90px);
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}

.left{
    transform: translate(45px, 70px);
    text-align: right;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: lighter;
    white-space: nowrap;
    
}

