*{
    margin: 0;
    padding: 0;
    font-family: "neue-haas-grotesk-display",sans-serif;
}
.header{
    background-color: #E3E3E3;
    width: 100%;
    height:60px
    
}
.gh-logo{
    position: absolute;
    width: 40px;
    height: 51px;
    left: 20px;
    top: 5px;
    /* filter:drop-shadow(2px 2px 2px gray); */
}
.h-heading{
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: -0.005em;
    width: 509px;
    height: 48px;
    padding-left: 65px;
    padding-top: 3px;
}
.home{
    position: absolute;
    width: 181px;
    height: 33px;
    left: 705px;
    top: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;  
    color: #000000; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about{
    position: absolute;
    width: 181px;
    height: 33px;
    left: 805px;
    top: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;  
    color: #000000; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.news{
    position: absolute;
    width: 181px;
    height: 33px;
    left: 905px;
    top: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;  
    color: #000000; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact{
    position: absolute;
    width: 181px;
    height: 33px;
    left: 1055px;
    top: 15px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;  
    color: #000000; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.m-button{
    background-color: #93D500;
    box-shadow: inset 0px -2.99377px 2.99377px rgba(0, 0, 0, 0.25);
    border-radius: 27.6924px;
    border: transparent;   
    position: absolute;
    width: 130.23px;
    height: 29.19px;
    left: 1136.06px;
    top: 16.47px; 
    font-weight: bold;
}   
.m-button:hover{
    background-color: #7bb303;
    cursor: pointer;
}