*{
    margin: 0;
    padding: 0;
    font-family: "neue-haas-grotesk-display",sans-serif;
}
.a-navbar{

    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E3E3E3;
    box-shadow: 0px 1px 0px 0.5px rgba(0, 0, 0, 0.25);
}
.a-navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.25);
    font-weight: bold;
}
.a-navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.a-navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background:#20960081;
    position: absolute;
    left: 0%;
    bottom: -10px;
    transition: 0.20s;

}
.a-navbar ul li :hover::after{
    width: 100%;
}

.gh-logo{
    position: absolute;
    width: 30px;
    height: 51px;
    left: 20px;
    top: 5px;
    /* filter:drop-shadow(2px 2px 2px gray); */
}

.a-heading{
    color: #2a2a2a;
    text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.25);
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: -0.005em;
    width: 509px;
    height: 48px;
    padding-left: 56px;
    
   
}

.a-button{
    background-color: #93D500;
    border-color: #5e8a00;
    border-radius: 27.6924px;
    border: transparent;   
    width: 130.23px;
    height: 29.19px;
    font-weight: bold;
    box-shadow: #2a2a2a;
    box-shadow: 0px 1px 0px 0.5px rgba(0, 0, 0, 0.25);
    

}   
.a-button:hover{
    background-color: #8fc025e7;
    cursor: pointer;
}

/*welcome image and text*/
.a-gavel{
    width: 100%;
    height: 100%;
    filter: brightness(25%);
}

.a-text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: -0.005em;

color: #FFFFFF;

  }

.a-Home-icon {
    position: absolute;
    top: 60%;
    left: 41.1%;
    transform: translate(-50%, -50%);
    width:32px; height:32px;

}

.a-page {
    /*font-family: Montserrat;*/
    font-style: Regular;
    position: absolute;
    font-size: 24px;
    color: #d0d0d0;
    top: 60.5%;
    left: 52.6%;
    transform: translate(-50%, -50%);
    /*width:36px; height:36px;*/
}

/**/



.a-container{
    display: flex;
    align-items: top;
    
}
.a-container img {
    margin-right: 100px;

}
.a-pythonimage{

    transform: translate(5%, 10%);
    display:inline-block;
    vertical-align:top;
    
}

.a-heading1{
    transform: translate(18%, 10%);
    font-family: "PT Sans",;
    font-weight: bold;
    font-size: 35px;
    color: #008CB8;
    
}
.a-details{
    font-family: 'Poppins', sans-serif;
    scale: 125%;
    line-height: 25px;
    
    transform: translate(7%, 15%);
    text-align: justify;
    overflow: hidden;
    display:inline-block;

}

/*timer and overview*/

.a-roundedrec{
    background: #04152E;
border-radius: 14px;
    padding: 50px; 
    width: 510px;
    height: 0px;  
    transform: translate(5%, 80%);
}

.a-curr {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 50;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.a-amount{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    src: url('./au_fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./au_fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
    font-size: 36px;
    line-height: 88px;
    letter-spacing: 1px;
    position: absolute;
    top: 72%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.a-end{
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 50;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 1px;
}

.countdown{
    display: flex;
    width: 56%;
    height: 50px;
    margin-left: 261px;


}
#demo{
    width: 190px;
    height: 35px;
    margin-top: 4px;
    margin-left: 24px;
}
.countdown-1{
    scale: 1px;
}

.countdown div{
    flex-basis: 100px;
    
    
}

/* course overview */

.a-overview{
    background: #ffffff;
/* border-radius: 14px; */
    padding: 150px; 
    width: 250px;
    height: 30px;  
    transform: translate(126%, -50%);
    filter: drop-shadow(10px 2px 9px #c8c6c6);
}

.head{
    color: #000000;
    position: top;
    top: 20%;
    left: 70%;
    transform: translate(30px, -150px);
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 0px;
}

.a-ovdetails{
    position: top;
    top: 30%;
    left: 70%;
    transform: translate(10%, -120%);
}


.right{
    transform: translate(-120px, 90px);
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}

.left{
    transform: translate(45px, 70px);
    text-align: right;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: lighter;
    white-space: nowrap;
    
}

/* place bid */

.a-placebid1{
    display: flex;
    background: #ffffff;
    padding: 130x; 
    width: 610px;
    height: 160px;  
    transform: translate(5%, -130%);
    filter: drop-shadow(10px 2px 9px #c8c6c6);
}

.bidnow1{
    color: #000000;
    position: top;
    top: 40%;
    left: 50%;
    transform: translate(40px, 0px);
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0px;
}

.button {
  position: absolute;
  background-color: #04EF2A;
  color: #000000;
  font-size: 15px;
  font-weight: bold ;
  border: none;
  text-align: center;
  padding: 10px 20px;
  width: 250px;
  height: 37px;
  border-radius: 15px 15px;
  transform: translate(150px, 100px);
}

/* Vendor history */

.a-vendorhistory{
    background: #ffffff;
/* border-radius: 14px; */
    padding: 150px; 
    width: 250px;
    height: 30px;  
    transform: translate(126%, -75%);
    filter: drop-shadow(10px 2px 9px #c8c6c6);
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.a-historyhead{
    color: #000000;
    position: top;
    top: 20%;
    left: 70%;
    transform: translate(30px, -150px);
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 0px;
}

.a-vendoricon{
    margin-top: -120px;
    margin-left: -80px;
}

.a-vendor1head{
    margin-left: 80px;
    margin-top : -60px;
    width: 380px;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: boldh;
    font-size: 25px;
}

.a-vendoricon2{
    margin-left: -80px;
    margin-top: 20px;
}

.a-vendoricon3{
    margin-left: -80px;
    margin-top: 20px;
}

.a-vendoricon4{
    margin-left: -80px;
    margin-top: 20px;
}

/* social media */

.a-socialmedia{
    display: flex;
    background: #ffffff;
    padding: 130x; 
    width: 610px;
    height: 160px;  
    transform: translate(5%, -300%);
    filter: drop-shadow(10px 2px 9px #c8c6c6);
}

.socialhead{
    /* transform: translate(5%, -300%); */
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 240px;
    margin-top: 10px;
   
}

.facebook{
    height: 80px;
    margin-left: -300px;
    margin-top: 57px;
}

.instagram{
    height: 80px;
    margin-left: 20px;
    margin-top: 57px;
}

.twitter{
    height: 80px;
    margin-left: 20px;
    margin-top: 57px;
}

.whatsapp{
    height: 80px;
    margin-left: 20px;
    margin-top: 57px;
}


/* footer */
.ab-footer{
    width: 100%;
    height: 245px;
    background-color: black;
}
.ab-f-gh-logo{
    padding-left: 20px;
    padding-top: 20px;
}
.ab-f-bar{
    width: 108px;
    height: 1px;
    border: 7px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(213, 213, 213, 0.566);
    
    position:absolute;
    left: 48px;
}

.ab-f-socialmedia{
    scale: 0.3;
  }
  
  .ab-f-ul {
    padding-top: 2%;
    left: -88%;
    transform: translate(-50%, -50%);
    margin-left: -490px;
    display:flex;
  }
  
 .ab-f-ul-li {
    list-style: none;
  }
  
  .ab-f-ul-li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 20px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, rgb(255, 255, 255), #fff);
    transition: .5s;
  }
  .ab-f-ul-li  :hover{
    transform: scale(1.2);
  }




  .ab-f-ul-li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  .ab-f-ul-li a .fa {
    width: 100%;
    height:100%;
    display:block;
    background: transparent;
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }





  /*---------------- vendor form begins---------------------------- */
.f-main{
  width: 100%;
  height: 100%;
}
  .f-navbar{

    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E3E3E3;
    box-shadow: 0px 1px 0px 0.5px rgba(0, 0, 0, 0.25);
}
.f-gh-logo{
    position: absolute;
    width: 30px;
    height: 51px;
    left: 20px;
    top: 5px;
    /* filter:drop-shadow(2px 2px 2px gray); */
}
.f-navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.25);
    font-weight: bold;
}
.f-navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.f-navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background:#20960081;
    position: absolute;
    left: 0%;
    bottom: -10px;
    transition: 0.20s;

}
.f-navbar ul li :hover::after{
    width: 100%;
}
.f-heading{
    color: #2a2a2a;
    text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.25);
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: -0.005em;
    width: 509px;
    height: 48px;
    padding-left: 56px;
    
   
}
.f-button{
    background-color: #93D500;
    border-color: #5e8a00;
    border-radius: 27.6924px;
    border: transparent;   
    width: 130.23px;
    height: 29.19px;
    font-weight: bold;
    box-shadow: #2a2a2a;
    box-shadow: 0px 1px 0px 0.5px rgba(0, 0, 0, 0.25);
}   
.f-button:hover{
    background-color: #8fc025e7;
    cursor: pointer;
}

  
.f-card-logo {
  width: 50%;
  height: 100%;
}
.f-main-right{
  float: right;
}
.f-main-left{
  float: left;
}










/* please rename the class name */

.f-footer{
    width: 100%;
    height: 150px;
    background-color: black;
    margin-top: 10px;
    
}

.f-f-gh-logo{
    padding-left: 20px;
    padding-top: 20px;
    width: 130px;
}


.f-f-socialmedia{
    scale: 0.5;
    margin-top: -59px;
    margin-left: 10px;
    margin-left: -149px;
    color: rgb(0, 0, 0);
  }

  
  .f-f-ul {
   
    transform: translate(-50%, -50%);
    margin-left: 1548px;
    display:flex;
  
  }
  
 .f-f-ul-li {
    list-style: none;
    scale: 2;
  }
  
  .f-f-ul-li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 20px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background-color: transparent;
    transition: .5s;
    color: white;
  }

  .f-f-ul-li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  .f-f-ul-li a .fa {
    width: 100%;
    height:100%;
    display:block;
    background: transparent;
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #ffffff;


  }

  .f-f-ul-li a .fa:hover{
    color: #93D500;
    transform: scale(1);
  }




.f-lowerfooter{
  background-color: #262626;
  height: 89px;
  width: 100%;
  border-color: transparent;
}
.f-privacy-policy{

  font-weight: 700;
  font-size: 1.375rem;
  line-height: 115%;
  margin-right: auto;
  margin-left: 3.625rem;
  border: 1px;
  margin-top: 23px;
  background-color: #262626;
  
}
.f-privacy-policy a{
  text-decoration: none;
  color: #c3ec0c;
  background-color: #262626;
  font-size: 18px;
 
}
.f-lowerfooter ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  text-shadow: 0px 2px 2px rgba(49, 49, 49, 0.25);
  font-size: 13px;
  margin: 5px 6px;

}


.f-lf-additional-link{

  text-decoration: none;
  color: white;
  
}

.f-body-form-bottom1{
    width: 100%;
    height: 50%;
    scale: 1.5;

}
.f-body-form-bottom2{
    width: 100%;
    height: 10%;
    background-color: #ffffff00;
}
